.btn-group-1 {
  background-color: #fff !important;
  border: 1px solid #707070 !important;
  width: 40px;
  height: 38px;
  border-radius: 6px;
}

.btn-1,
.btn-2 {
  width: 40px;
  height: 19px;
  background-color: #fff !important;
  border: none !important;
  padding: 0px !important;
}

.btn-1:hover {
  background-color: #f5f4f4 !important;
}

.btn-2:hover {
  background-color: #f5f4f4 !important;
}
