.create-data-point {
  margin-top: 0.7rem;
  gap: 0.6rem;
  /* margin-left: 1rem; */
}

.data-point-heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  margin-right: 20px;
}

.create-data-color {
  width: 1rem;
  height: 2rem;
  background-color: #547ba8;
  border-radius: 3px;
  margin-right: 10px;
}

.total-head {
  font-size: 0.9rem;
  color: #6f767e;
  display: flex;
  align-items: center;
}

.primary-inputs-search {
  background-color: #f6f6f6 !important;
  outline: none !important;
  font-size: 13px !important;
  border: 1px solid #707070;
  background-color: #ffffff;
  /* width: 360px; */
  width: 50%;
  height: 38px;
}

.btns {
  background-color: #14365d;
  color: #ffffff;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  font-size: 15px;
}

.btns-main {
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  .btns-main {
    margin-left: 0px;
    margin-top: 20px;
  }
  .primary-inputs-search {
    margin-top: 20px;
  }
}

.arrow-icon {
  color: white;
}
