.bg-gray {
  background-color: #f8f8f8;
}

.tr-even > tr:nth-child(even) {
  background-color: #f8f8f8;
}

.text-sg {
  color: #8d8d8d;
  font-size: 12px;
}

.bg-blue {
  background-color: #14365d !important;
}

.border-blue {
  border-color: #14365d !important;
}

.fs-7 {
  font-size: 12px;
}

input::-webkit-input-placeholder {
  font-size: 12px;
  color: #a1a5ab;
}
/* yable css */
.table th {
  font-size: 1rem !important;
  font-weight: 400;
  color: whitesmoke;
}
.table.admin-table {
  border-spacing: 0 5px;
}
.admin-role-input::placeholder {
  font-size: 0.8rem;
  color: #888 !important;
}
