tr:nth-child(odd) {
  color: #eee;
}

tr:nth-child(even) {
  background: white;
  color: #8e8e8e;
}

.scroll1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(69, 69, 69, 0.9);
  width: 90%;
  /* height: 400px; */
  /* height: calc(100% - 50px); */
  height: 100%;
  overflow: auto;
  padding: 16px;
  border-radius: 8px;
  z-index: 10;
}

@media (min-width: 2156px) {
  .scroll1 {
    /* height: 730px; */
    height: calc(100% - 90px);
  }
}

@media (min-width: 760px) {
  .scroll1 {
    color: inherit;
    /* height: 730px; */
    height: calc(100% - 90px);
  }
}
@media (max-width: 1300px) {
  .container-comment {
    width: 14rem !important;
  }
  .comment-header.h4 {
    font-size: 0.86rem !important;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: inherit;
    font-weight: 500 !important;
    letter-spacing: -0.1px;
  }
  .comment-before {
    display: inline-block;
    width: 4px;
    height: 20px;
    border-radius: 20px;
    background-color: #0dcaf0;
  }
  .container-comment.p-3 {
    padding: 0.8rem !important;
  }
  .comment-input.my-2 {
    margin: 0.2rem 0 !important;
  }
  .comment-input.form-control {
    outline: unset;
    border: unset;
    background-color: inherit !important;
    font-size: 0.7rem !important;
  }
  .comment-input.form-control:placeholder-shown {
    font-size: 0.7rem !important;
  }
  .padding-custom {
    padding: 0.5rem 0.6rem !important;
  }
  .comment-heading-view.h4 {
    font-size: 0.77rem !important;
    color: #888;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--font-family2);
    font-weight: 600 !important;
    letter-spacing: -0.1px;
  }
  .comment-input.mb-2 {
    margin-bottom: 0.3rem !important;
  }
  p.comment-texted {
    font-size: 0.8rem !important;
    line-height: 1.6;
  }
}
.scroll1::-webkit-scrollbar {
  width: 9px;
}

.scroll1::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.scroll1::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 20px;
}

.scroll1::-webkit-scrollbar-thumb:hover {
  background-color: #aaa9a9;
}

/* * */
.container-comment {
  width: 15rem;
}

.showfourcolumnmodal div.container-comment {
  width: 11rem;
}
.showthreecolumnmodal .container-comment {
  width: 13rem;
}
.showthreecolumnmodal div.modal-container {
  padding: 0.6rem !important;
}
.showfourcolumnmodal div.modal-container {
  padding: 0.4rem !important;
}
.containeredit-comment {
  width: 16rem;
}

.comment-header {
  font-size: 1rem !important;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: inherit;
  font-weight: 500 !important;
  letter-spacing: -0.1px;
}
.showthreecolumnmodal .comment-header {
  font-size: 0.75rem !important;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 500 !important;
  font-family: var(--font-family2);
  letter-spacing: -0.1px;
}
.showfourcolumnmodal .comment-header {
  font-size: 0.65rem !important;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: inherit;
  font-weight: 500 !important;
  font-family: var(--font-family4);
}
.showfourcolumnmodal .comment-before {
  height: 18px;
}
.comment-before {
  display: inline-block;
  width: 4px;
  height: 22px;
  border-radius: 20px;
  background-color: #0dcaf0;
}
.showthreecolumnmodal input.comment-input::placeholder {
  font-size: 0.7rem !important;
}
.showfourcolumnmodal input.comment-input::placeholder {
  font-size: 0.6rem !important;
}
.showthreecolumnmodal input.comment-input {
  font-size: 0.7rem !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.showfourcolumnmodal input.comment-input {
  font-size: 0.65rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.showthreecolumnmodal .btn-resize {
  font-size: 0.4rem !important;
  padding: 0.4rem !important;
  display: flex;
  align-items: center;
}
.showfourcolumnmodal .btn-resize {
  font-size: 0.4rem !important;
  padding: 0.3rem !important;
  display: flex;
  align-items: center;
}
.showthreecolumnmodal .btn-resize .arrow {
  font-size: 0.8rem !important;
}
.comment-input {
  outline: unset;
  border: unset;
  background-color: inherit !important;
  font-size: 0.8rem !important;
}

.comment-input::placeholder {
  font-size: 0.8rem;
  color: #aaa !important;
  font-family: var(--font-family2);
}

.container-comment .btn-close {
  font-size: 0.5rem;
  border-radius: 5px !important;
  padding: 0.3rem !important;

  background-color: #d6d6d6a4 !important;
  opacity: 1 !important;
}

.comment-button {
  font-size: 0.8rem;
}
.showthreecolumnmodal .comment-button {
  font-size: 0.65rem;
}
.showfourcolumnmodal .comment-button {
  font-size: 0.55rem;
}
.showfourcolumnmodal .pointing-arrow {
  width: 100px;
  height: 20px;
  transform: translate(-10%, 60%);
}
.showfourcolumnmodal .close-comment {
  font-size: 0.4rem;
}
.pointing-arrow {
  width: 130px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-10%, 50%);
  clip-path: polygon(24.1% 76.8%, 31.3% 39%, 25.9% 34.5%);
  z-index: 100;
}

.btn-color {
  background-color: rgb(27, 72, 122) !important;
}

.btn-color:hover {
  background-color: rgb(6, 48, 95) !important;
}

.comment-heading-view {
  font-size: 0.82rem !important;
  color: #888;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family2);
  font-weight: 600 !important;
  letter-spacing: -0.1px;
}

.padding-custom {
  padding: 0.5rem 0.9rem;
}
.modal-title {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 600;
}
/**alert */
.bs {
  box-shadow: 10px 10px 0px 1000px rgba(0, 0, 0, 0.8);
}

.blue-line {
  width: 25px;
  height: 1;
  background-color: #168491;
  border: 2px solid #168491;
  border-radius: 5px;
}

.btn-blue {
  font-size: 12px !important;
  background-color: #14365d !important;
  color: #fff;
}
.btn-blue:hover {
  font-size: 12px !important;
  background-color: #154c8a !important;
  color: #fff;
}

.btn-black {
  font-size: 12px !important;
}
.comment-box {
  transform: translate(-3%, -100%);
  top: -20%;
  left: 0;
  z-index: 100 !important;
}
.showthreecolumnmodal .editcommentModal {
  width: 15rem;
}
