.preview-main-div {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 16px;
}

.preview-save-button {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  width: 70px;
  height: 35px;
}
