.carousel-content h5 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.carousel-content p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
    width: 25px;
    height: 25px;
    line-height: 23px !important;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.padding {
    padding: 2.5rem 2.2rem;
}